@import "tailwindcss";

@font-face {
  font-family: "TerminaTest";
  src: url('/font/TerminaTest-Regular.otf');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #292117; 
  --secondary: #880a0b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-primary: "TerminaTest", serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #292117; 
    --secondary: #880a0b;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}